<a href="https://colab.research.google.com/github/aman5898/Data-Science-Extended-LRC/blob/main/pandas/Lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# Series

In [5]:
A = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'])
A

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [9]:
print(A.values)
print(type(A.values))
print(A.index)
print(type(A.index))

[1 2 3 4 5]
<class 'numpy.ndarray'>
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
<class 'pandas.core.indexes.base.Index'>

In [10]:
B = pd.Series([1,2,3,4,5])
B

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
print(B.values)
print(type(B.values))
print(B.index)
print(type(B.index))

[1 2 3 4 5]
<class 'numpy.ndarray'>
RangeIndex(start=0, stop=5, step=1)
<class 'pandas.core.indexes.range.RangeIndex'>

In [13]:
print(A.min())

1

In [15]:
A[A >= 4]

d    4
e    5
dtype: int64

## Slicing



*   `loc`    explicit indexing
*   `iloc`   inplicit indexing

In [16]:
A

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [19]:
A['a' : 'c']  # A.loc['a':'c']

a    1
b    2
c    3
dtype: int64

In [18]:
A[0:2]  # A.iloc[0:2]

a    1
b    2
dtype: int64

In [20]:
C = pd.Series([1,2,3,4,5], index = [9,8,7,6,5])
C

9    1
8    2
7    3
6    4
5    5
dtype: int64

In [26]:
C.loc[9:6]

9    1
8    2
7    3
6    4
dtype: int64

## Creating from Dictionary

In [27]:
heights = {'A': 5.2, 'B': 5.9, 'C': 5.6}

heights = pd.Series(heights)
heights

A    5.2
B    5.9
C    5.6
dtype: float64

In [30]:
heights.index

Index(['A', 'B', 'C'], dtype='object')

In [31]:
weights = {'A': 55, 'B': 70, 'C': 60}

weights = pd.Series(weights)
weights

A    55
B    70
C    60
dtype: int64

# DataFrame




*   info
*   describe
*   head
*   rename
*   fillna
*   dropna
*   drop
*   group
*   pd.datetime
*   read_csv
*   reset_index
*   axis 0=row, 1=col, 2=depth



https://pandas.pydata.org/docs/reference/frame.html

In [32]:
pd.DataFrame([[1,2,3], [4,5,6], [7,8,9], [10, 11, 12]])

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [34]:
E = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9], [10, 11, 12]], index = ['r1', 'r2', 'r3', 'r4'], columns = ['c1', 'c2', 'c3'])

In [42]:
E.T

    r1  r2  r3  r4
c1   1   4   7  10
c2   2   5   8  11
c3   3   6   9  12

In [43]:
df = pd.DataFrame({'Height': heights, 'Weight': weights})
df

   Height  Weight
A     5.2      55
B     5.9      70
C     5.6      60

In [46]:
df['Height']

A    5.2
B    5.9
C    5.6
Name: Height, dtype: float64

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, A to C
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  3 non-null      float64
 1   Weight  3 non-null      int64
dtypes: float64(1), int64(1)
memory usage: 152.0+ bytes

In [48]:
F = pd.DataFrame({'Heights': {'A': 2, 'B':6}, 'Weight': {'A': 50, 'C': 60}, 'Age': {'A': 10, 'B': 15, 'C': 20}})

In [49]:
F

   Heights  Weight  Age
A      2.0    50.0   10
B      6.0     NaN   15
C      NaN    60.0   20

In [50]:
F.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, A to C
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Heights  2 non-null      float64
 1   Weight   2 non-null      float64
 2   Age      3 non-null      int64
dtypes: float64(2), int64(1)
memory usage: 176.0+ bytes

In [51]:
df

   Height  Weight
A     5.2      55
B     5.9      70
C     5.6      60

In [64]:
df['Heightcm'] = df['Height'] * 30.48

In [57]:
df

   Height  Weight  Heightcm
A     5.2      55   158.496
B     5.9      70   179.832
C     5.6      60   170.688

In [61]:
df[df['Heightcm'] > 160]

   Height  Weight  Heightcm
B     5.9      70   179.832
C     5.6      60   170.688

In [66]:
del df['Heightcm']
df

   Height  Weight
A     5.2      55
B     5.9      70
C     5.6      60

In [67]:
df['Heightcm'] = df['Height'] * 30.48
df.head()

   Height  Weight  Heightcm
A     5.2      55   158.496
B     5.9      70   179.832
C     5.6      60   170.688

In [70]:
df = df.drop(columns=['Heightcm'], index = ['A'])

In [71]:
df

   Height  Weight
B     5.9      70
C     5.6      60

In [84]:
df = pd.DataFrame({'Heights': {'A': 2, 'B':6}, 'Weight': {'A': 50, 'C': 60}, 'Age': {'A': 10, 'B': 15, 'C': 20}})
df

   Heights  Weight  Age
A      2.0    50.0   10
B      6.0     NaN   15
C      NaN    60.0   20

**Data fill**



*   drop column
*   drop row [index]
*   fillna

In [85]:
df['Weight'].mean()

55.0

In [ ]:
df.fillna(0)

In [76]:
df['Heights'] = df['Heights'].fillna(0)

In [77]:
df

   Heights  Weight  Age
A      2.0    50.0   10
B      6.0     NaN   15
C      0.0    60.0   20

In [80]:
df.loc['B'] = df.loc['B'].fillna(0)

In [81]:
df

   Heights  Weight   Age
A      2.0    50.0  10.0
B      6.0     0.0  15.0
C      0.0    60.0  20.0

In [86]:
df = pd.DataFrame({'Heights': {'A': 2, 'B':6}, 'Weight': {'A': 50, 'C': 60}, 'Age': {'A': 10, 'B': 15, 'C': 20}})
df

   Heights  Weight  Age
A      2.0    50.0   10
B      6.0     NaN   15
C      NaN    60.0   20

In [88]:
df.dropna(axis = 1)

   Age
A   10
B   15
C   20

# DataSet

In [91]:
df = pd.read_csv('https://raw.githubusercontent.com/neylsoncrepalde/projeto_eda_covid/master/covid_19_data.csv')
df.head()

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      01/22/2020          Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020        Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020      Chongqing  ...       6.0    0.0        0.0
3    4      01/22/2020         Fujian  ...       1.0    0.0        0.0
4    5      01/22/2020          Gansu  ...       0.0    0.0        0.0

[5 rows x 8 columns]

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26713 entries, 0 to 26712
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              26713 non-null  int64
 1   ObservationDate  26713 non-null  object
 2   Province/State   12882 non-null  object
 3   Country/Region   26713 non-null  object
 4   Last Update      26713 non-null  object
 5   Confirmed        26713 non-null  float64
 6   Deaths           26713 non-null  float64
 7   Recovered        26713 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 1.6+ MB

In [94]:
df.describe()

                SNo      Confirmed        Deaths      Recovered
count  26713.000000   26713.000000  26713.000000   26713.000000
mean   13357.000000    5690.647550    373.353236    1736.979224
std     7711.523207   23417.369124   2214.074387   10864.727709
min        1.000000       0.000000      0.000000       0.000000
25%     6679.000000      18.000000      0.000000       0.000000
50%    13357.000000     192.000000      3.000000       8.000000
75%    20035.000000    1350.000000     28.000000     187.000000
max    26713.000000  352845.000000  35341.000000  289392.000000

In [95]:
df.head()

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      01/22/2020          Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020        Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020      Chongqing  ...       6.0    0.0        0.0
3    4      01/22/2020         Fujian  ...       1.0    0.0        0.0
4    5      01/22/2020          Gansu  ...       0.0    0.0        0.0

[5 rows x 8 columns]

In [98]:
df = df.rename(columns={'ObservationDate': 'Date', 'Province/State': 'State', 'Country/Region': 'Country', })

In [100]:
df.head()

   SNo        Date      State  ... Confirmed Deaths  Recovered
0    1  01/22/2020      Anhui  ...       1.0    0.0        0.0
1    2  01/22/2020    Beijing  ...      14.0    0.0        0.0
2    3  01/22/2020  Chongqing  ...       6.0    0.0        0.0
3    4  01/22/2020     Fujian  ...       1.0    0.0        0.0
4    5  01/22/2020      Gansu  ...       0.0    0.0        0.0

[5 rows x 8 columns]

In [102]:
df.drop(columns=['SNo', 'Last Update'], axis = 1, inplace = True)

In [103]:
df.head()

         Date      State         Country  Confirmed  Deaths  Recovered
0  01/22/2020      Anhui  Mainland China        1.0     0.0        0.0
1  01/22/2020    Beijing  Mainland China       14.0     0.0        0.0
2  01/22/2020  Chongqing  Mainland China        6.0     0.0        0.0
3  01/22/2020     Fujian  Mainland China        1.0     0.0        0.0
4  01/22/2020      Gansu  Mainland China        0.0     0.0        0.0

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26713 entries, 0 to 26712
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       26713 non-null  object
 1   State      12882 non-null  object
 2   Country    26713 non-null  object
 3   Confirmed  26713 non-null  float64
 4   Deaths     26713 non-null  float64
 5   Recovered  26713 non-null  float64
dtypes: float64(3), object(3)
memory usage: 1.2+ MB

In [111]:
df['Date'] = pd.to_datetime( df['Date'] )

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26713 entries, 0 to 26712
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       26713 non-null  datetime64[ns]
 1   State      12882 non-null  object
 2   Country    26713 non-null  object
 3   Confirmed  26713 non-null  float64
 4   Deaths     26713 non-null  float64
 5   Recovered  26713 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 1.2+ MB

In [113]:
df.head()

        Date      State         Country  Confirmed  Deaths  Recovered
0 2020-01-22      Anhui  Mainland China        1.0     0.0        0.0
1 2020-01-22    Beijing  Mainland China       14.0     0.0        0.0
2 2020-01-22  Chongqing  Mainland China        6.0     0.0        0.0
3 2020-01-22     Fujian  Mainland China        1.0     0.0        0.0
4 2020-01-22      Gansu  Mainland China        0.0     0.0        0.0

In [126]:
df.groupby('Country').sum().reset_index()

                            Country  Confirmed   Deaths  Recovered
0                        Azerbaijan        1.0      0.0        0.0
1                   ('St. Martin',)        2.0      0.0        0.0
2                       Afghanistan   115615.0   3211.0    13641.0
3                           Albania    34319.0   1408.0    20212.0
4                           Algeria   183263.0  19089.0    76184.0
..                              ...        ...      ...        ...
218                  Western Sahara      256.0      0.0      144.0
219                           Yemen     1190.0    190.0       30.0
220                          Zambia     8987.0    166.0     3102.0
221                        Zimbabwe     1386.0    171.0      226.0
222  occupied Palestinian territory       25.0      0.0        0.0

[223 rows x 4 columns]

In [127]:
df.groupby(['Country', 'Date']).sum().reset_index()

                              Country       Date  Confirmed  Deaths  Recovered
0                          Azerbaijan 2020-02-28        1.0     0.0        0.0
1                     ('St. Martin',) 2020-03-10        2.0     0.0        0.0
2                         Afghanistan 2020-02-24        1.0     0.0        0.0
3                         Afghanistan 2020-02-25        1.0     0.0        0.0
4                         Afghanistan 2020-02-26        1.0     0.0        0.0
...                               ...        ...        ...     ...        ...
14696  occupied Palestinian territory 2020-03-12        0.0     0.0        0.0
14697  occupied Palestinian territory 2020-03-14        0.0     0.0        0.0
14698  occupied Palestinian territory 2020-03-15        0.0     0.0        0.0
14699  occupied Palestinian territory 2020-03-16        0.0     0.0        0.0
14700  occupied Palestinian territory 2020-03-17        0.0     0.0        0.0

[14701 rows x 5 columns]